.ant-select-selector {
  padding: 20px 10px !important;
  display: flex !important;
  align-items: center !important;
}

.ant-selector-rounded-full .ant-select-selector {
  border-radius: 50px !important;
  padding: 20px 40px !important;
  border-color: #e8e4e4 !important;
}

.ant-select .ant-select-selector {
  padding-left: calc(3rem - 8px);
}

.fc-button {
  border: 1px solid #d1d1d1 !important;
  background-color: #39b980 !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #39b980;
}

.slick-arrow {
  background: #39b980 !important;
  border-radius: 8px;
  margin: 200px 0;
  width: 40px !important;
  height: 40px !important;
}

.slick-arrow::before {
  display: none;
}

.slick-prev {
  margin-left: 150px;
}

.slick-next {
  margin-right: 150px;
}

.slick-next::before {
  content: '→';
  padding: 10px !important;
  font-size: 20px;
  display: block;
}

.slick-prev::before {
  content: '→';
  padding: 10px;
  font-size: 20px;
  display: block;
}